/* syntax */
/* selector{ property-name : value } */

body{
    margin: 0;
    padding: 0;
    background-color: pink;
}

h2{
    text-align: center;
    color: brown;
    background: aquamarine;
    /* width: 100%;
    height: 100px; */
    padding: 20px;
    /* margin: 50px; */
    /* border: 1px solid #000; */
    border-width: 2px;
    border-style: dotted;
    border-color: #000;
    border-left: 5px solid red;
    border-bottom-left-radius: 50px;
    /* opacity: 1; */
}
span{
    opacity: 0.1;
}
div{
    width: 50px;
    height: 50px;
    background-color: #000;
    float: left;
}
ul{
    font-weight: bold;
}
li{
    margin-top: 20px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    /* text-decoration: overline; */
    text-align: justify;
}
a{
    font-size: larger;
    text-decoration: none;
}